.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.select-pos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}
.select-pos button{
    width: 80px;
    height: 30px;
    background-color: rgb(186, 114, 241);
}
.select-pos p {
    font-size: 16px;
    color: gray;
}
button.btn-select{
    background: aquamarine;
    color: blue;
}